.live-sports {
    background: url('../img/live-sports.jpg') no-repeat center center / cover;
    height: 800px;
    position: relative;
  }

  .live-sports-content {
    position: absolute;
    top: 160px;
    left: 100px;
    max-width: 550px;
  }

  .live-sports-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 300px;
  }

  .live-sports-logos > div {
    background: url('../img/network-logo-bg.png') no-repeat center center / cover;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .live-sports-logos img {
    width: 40px;
  }


  @media (max-width: 768px) {
    .live-sports {
        background: url('../img/live-sports-small.jpg') no-repeat center center /
          cover;
      }

      .live-sports-content {
        position: absolute;
        top: 30px;
        left: 30px;
        margin-top: 60px;
      }
  }
 